* {
  box-sizing: border-box;
}

@keyframes spin {  
  from {  transform: rotate(0deg);  }  
  to { transform: rotate(360deg); }
}

#radar {
    width: 600px;
    height: 600px;
    border-radius: 100%;
    border: 1px solid white;
    position: relative;
    background: lightgray;
    margin:0 auto;
}
#radar-inner {
    height: 100%;
    width: 100%;
}
#radar-inner .line-horizontal {
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    top: 50%;
    left: 0;
}
#radar-inner .line-vertical {
    width: 5px;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 50%;
}

.float {
    font-size: 24pt;
    font-weight: bold;
    position: absolute;
    text-align:center;
}

.float.right {
     left: 100%;
}

.float.left {
    left: -20%;
}

.float.bottom {
    bottom: 0;
}

.technique {
    color: darkblue;
}

.platform {
    color: darkorange;
}

.tool {
    color: darkgreen;
}

.framework {
    color: darkred;
}

#radar-inner .inner-circle {
    width: 30%;
    height: 30%;
    border-radius: 100%;
    border: 3px solid white;
    position: absolute;
    top: 35%;
    left: 35%;
}

#radar-inner .mid-circle {
    width: 60%;
    height: 60%;
    border-radius: 100%;
    border: 3px solid white;
    position: absolute;
    top: 20%;
    left: 20%;
}

#radar-inner .outer-circle {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    border: 3px solid white;
    position: absolute;
    top: 10%;
    left: 10%;
}

#hand {
    width: 1px;
    height: 50%;
    background: black;
    
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: rotate(0deg);
    transform-origin: 100% 0%;
    
    animation: spin 5s infinite linear;
}

.dot {
    background: black;
    width: 15px;
    height: 15px;
    border: 1px solid darkgray;
    border-radius: 100%;
    position: absolute;
}

.dot-technique {
    background: darkblue;
}

.dot-platform {
    background: darkorange;
}

.dot-tool {
    background: darkgreen;
}

.dot-framework {
    background: darkred;
}

/* TITLE */

.title{
  text-align: center;
  width: 100%;
  height: 100px;
}

/* FOOTER */

.footer {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 50px;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}